<h3>Recent Blog Entries</h3>
<ul class="navigation">
<% for article in @articles -%>
<li><%= link_to_permalink article, h(article.title) %></li>
<% end -%>
</ul>

<div class="pagination">You can read
	<%= link_to 'the rest of my blog here', { :controller => '/articles' } %>.
</div>

<h3>Site</h3>
<ul class="navigation">
  <li><span class="nolink">home</span></li>
  <li><a href="/software/">software</a></li>

  <li><a
    href="http://www.xs4all.nl/~mvz/metaphoor/">metaphoor</a></li>
  <li><a href="/blog/">blog</a></li>
</ul>
