/* Reset body spacing */
body {
  margin: 0px;
}

/* Fonts and text colors */
body {
  font-family: sans-serif;
}
h2, h3 {
  color: rgb(204, 34, 0);
}
h1 a, h2 a {
  text-decoration: none;
}
h1 a:hover, h2 a:hover {
  text-decoration: underline;
}
a {
  color: inherit;
}
a:hover {
  color: #85ab02;
}
h1, h2, h3 {
  font-weight: inherit;
}

/* Vertical layout */

body {
  font-size: 16px;
  line-height: 2rem;
}
h1 {
  font-size: 2rem;
  line-height: 4rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
p.desc, p.auth, p.meta {
  font-size: 0.75rem;
}

h1, h2, h3, p, ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
h2, h3, p, ul, pre {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p.auth, p.desc, div.sidebar-body > ul:first-child {
  margin-top: -2rem;
}
p.meta {
  padding-bottom: 3rem;
}

pre, #errors {
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-top: -1px;
  margin-bottom: -1px;
}

div.contents, /* Legacy */
div.container {
  padding-top: 1rem;
}

div.places, p.copyright, /* Legacy */
div.header, div.sidebar, div.footer {
  padding-top: 2rem;
}
div.main, div.places, p.copyright, /* Legacy */
div.content, div.sidebar, div.footer {
  padding-bottom: 2rem;
}

/* Horizontal layout */

div.main, div.places, p.copyright, /* Legacy */
div.header, div.content, div.sidebar, div.footer {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  max-width: 45rem;
}
div.contents, div.main, div.places, p.copyright, /* Legacy */
div.header, div.content, div.sidebar, div.footer, div.container {
  margin-left: auto;
  margin-right: auto;
}
div.contents, /* Legacy */
div.container {
  max-width: 80rem;
}
pre {
  overflow-x: auto;
}
#errors {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media(min-width: 55rem) {
  div.main, div.places, p.copyright, /* Legacy */
  div.header, div.content, div.sidebar, div.footer {
    padding-left: 5rem;
    padding-right: 0rem;
    margin-left: 0px;
    margin-right: 0px;
    width: 45rem;
  }
}

/* 5 + 45 + 5 + 20 (+ 5) = 75 (+ 5). */
@media(min-width: 75rem) {
  div.main, /* Legacy */
  div.header, div.content {
    clear: left;
    float: left;
  }
  div.places, /* Legacy */
  div.sidebar {
    width: 20rem;
    display: inline-block;
  }
  p.copyright, /* Legacy */
  div.footer {
    clear: both;
  }
}

/* Colors of borders and backgrounds */
#errors {
  border-color: red;
  background-color: #f88;
}

pre {
  border-color: #a5945a;
}


/* Admin tools: copied from azure */
.admintools {
  float: right;
  background-color: #fff;
  font-size: smaller;
  padding: 0 2px;
  margin: 0 1px;
  color: #ccc;
  border: 1px solid #ccc;
}

/* CodeRay overrides */
.CodeRay {
  border: none;
  background-color: inherit;
}
